<section id="process-description">
        <h1>My Process</h1>
        <article>
            <h2>Prep And Brew</h2>
            <p>Problems need defining, research has to be made, and exploration is crucial for discovery. Once everything isprepped, design begins a brewin towards a valuable solution.</p>
        </article>
        <article>
            <h2>Taste and Reflect</h2>
            <p>Time to analyize and let the design breathe. Reflections are made into refinemnts and a valuanle product is enjoyed.</p>
        </article>
</section>
