/**
 * Site header
 */
.site-header {
    @include outer-container;
    min-height: 56px;
    padding-bottom: 2em;

    // Positioning context for the mobile navigation icon
    position: relative;

    .logo-container{
        float: none;
        text-align: center;

        @include media($mobile-viewport){
            @include span-columns(4);
        }
        .site-title {
            color: $brand-primary-color !important;
            display: inline-block;
            font-family: $heading-font-family;
            font-weight: $heading-font-weight;
            margin: 2em 0 1em 0;

            .logo{
                display: block;
                fill: $brand-primary-color;
                height: 65px;
                margin: 0 auto;
            }
        }
    }
    .site-nav {
        display: block;
        line-height: 56px;

        @include media($mobile-viewport){
            @include span-columns(4);
            text-align: center;
        }

        .page-link {
            // Gaps between nav items, but not on the last one
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

}

/**
 * Hero Section
 */
    #hero{
        background-image: url('../images/intro_background.jpg');
        background-position: bottom left;
        background-size: cover;
        width: 100%;
        height: 85vh;

        .hero-container{
            @include outer-container;
            padding: 10em 0.8em;

            .content{
                color: #fff;
                line-height: 1.2;
                padding: 0.5em 1em 0;

                @include media($mobile-viewport){
                    @include span-columns(4);
                }

                h1{
                    color: #fff;

                    .accent{
                        color: $action-color;
                    }
                }
            }
        }
    }


/**
 * Portfolio Section
 */
 .home{
    padding: 3em 1em;
 }
.portfolio{

    .portfolio-items{
        @include outer-container;

        .portfolio-item{
                background-color: $action-color;
                height: 300px;
                max-width: 650px;
                overflow: hidden;
                position: relative;
                z-index: 2;

                @include media($mobile-viewport){
                    @include span-columns(4);
                }

                .item-info{
                    opacity: 0;
                    padding: 0 1em 1em;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    transition: opacity 0.3s;
                    z-index: 1;

                    h2, h3{
                        color: #fff !important;
                        line-height: .4;
                    }

                    h3{
                        font-weight: 400;
                    }
                }

                .thumbnail{
                    opacity: 1;
                    position: absolute;
                    object-fit: cover;
                    transition: opacity 0.3s, transform 0.3s;
                    width: 100%;
                    height: 100%;
                }

                &:hover{
                    overflow: hidden;

                    .item-info{
                        opacity: 1;
                        transition: opacity 0.3s;
                    }

                    .thumbnail{
                        opacity: 0.085;
                        transition: opacity 0.3s;
                        -webkit-transform:scale(1.03); /********** Safari and Chrome **********/
                        -moz-transform:scale(1.03); /********** Firefox **********/
                        -ms-transform:scale(1.03); /********** IE 9 **********/
                        -o-transform:scale(1.03); /********** Opera **********/
                         transform:scale(1.03);
                         transition: transform 0.3s;
                    }
                }
            }
        }
    }

/**
 * Process Section
 */
#process-description{
    @include outer-container;
    //background-color: $brand-primary-color;
    padding: 3em 1em 0;

        h2, p{
            color: $brand-primary-color;
        }

        h1{

        }

        article{
            margin-bottom: 35px;

            @include media($mobile-viewport){
                @include span-columns(4);
            }
        }
}

/**
 * Contact Section
 */
#contact-section{
    @include outer-container;

    .form-container{

        padding: 3em 1em;

        @include media($mobile-viewport){
            @include span-columns(4);
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $light-gray;
}

.footer-heading {
    //font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    .footer-mail{
        color: $action-color;
    }
}

.footer-col-wrapper {
    @include outer-container;
    //font-size: 15px;
    color: $medium-gray;
    margin-left: -$spacing-unit / 2;
    padding: 3em 1em;

    .footer-svg{
        width: 50px;
        fill: $action-color;

        &:hover{
            fill: darken($action-color, 5%);
        }
    }

    .footer-col {
        margin-bottom: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;

        @include media($mobile-viewport){
            @include span-columns(4);
        }
        .social-media-list, .contact-list{
            li{
                margin-bottom: 5px;
            }
        }
    }
}

/**
 * Page content
 */
.page-content {
    background-color: lighten($action-color, 33);
    //padding: $spacing-unit 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $medium-gray;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;
}
