/**
 * Site header
 */
.site-header {
    @include outer-container;
    min-height: 56px;
    padding-bottom: 2em;

    // Positioning context for the mobile navigation icon
    position: relative;

    .logo-container{
        @include span-columns(4);
        float: none;
        text-align: center;

        .site-title {
            color: $brand-primary-color !important;
            display: inline-block;
            font-family: $heading-font-family;
            font-size: 1.3em;
            font-weight: $heading-font-weight;
            margin-bottom: 0;
            margin-top: 1.5em;

            .logo{
                display: block;
                height: 65px;
                margin: 0 auto;
            }
        }
    }
    .site-nav {
        @include span-columns(4);
        display: block;
        line-height: 56px;
        text-align: center;

        .page-link {
            color: $brand-primary-color;
            font-family: $heading-font-family;
            font-weight: 400 !important;
            font-size: 1.2em;
            line-height: $base-line-height;



            // Gaps between nav items, but not on the last one
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

}

/**
 * Hero Section
 */
    #hero{
        background-image: url('../images/intro_background.jpg');
        background-position: bottom left;
        background-size: cover;
        width: 100%;

        .hero-container{
            @include outer-container;
            padding: 5em 0;

            .content{
                @include span-columns(4);
                color: #fff;
                line-height: 1.2;
                padding: 0.5em 1em 0;

                p{
                    font-size: 2em;
                }

                a{
                    font-size:1.3em;
                }
            }
        }
    }


/**
 * Portfolio Section
 */
.portfolio{
    .portfolio-items{
        @include outer-container;

        .portfolio-item{
            @include span-columns(4);
                background-color: $brand-primary-color;
                height: 300px;
                max-width: 650px;
                overflow: hidden;
                position: relative;
                z-index: 2;

                .item-info{
                    opacity: 0;
                    padding: 0 2em 1em;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    transition: opacity 0.3s;
                    z-index: 1;

                    h2, h3{
                        color: #fff !important;
                        line-height: .4;
                    }

                    h3{
                        font-weight: 400;
                    }
                }

                .thumbnail{
                    opacity: 1;
                    position: absolute;
                    object-fit: cover;
                    transition: opacity 0.3s, transform 0.3s;
                    width: 100%;
                    height: 100%;
                }

                &:hover{
                    overflow: hidden;

                    .item-info{
                        opacity: 1;
                        transition: opacity 0.3s;
                    }

                    .thumbnail{
                        opacity: 0.085;
                        transition: opacity 0.3s;
                        -webkit-transform:scale(1.03); /********** Safari and Chrome **********/
                        -moz-transform:scale(1.03); /********** Firefox **********/
                        -ms-transform:scale(1.03); /********** IE 9 **********/
                        -o-transform:scale(1.03); /********** Opera **********/
                         transform:scale(1.03);
                         transition: transform 0.3s;
                    }
                }
            }
        }
    }

/**
 * Process Section
 */
#process-description{
    @include outer-container;
    background-color: $brand-primary-color;
    padding: 3em 2em 0;

        h1, h2, p{
            color: $brand-content-white;
        }

        h1{
            margin-bottom: 40px;
        }

        article{
            @include span-columns(4);
            margin-bottom: 35px;
        }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $light-gray;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $medium-gray;
    margin-left: -$spacing-unit / 2;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $medium-gray;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;
}
