---
layout: default
---

<section id="intro-section">
    <div class="description-container">
        <h1>Designer</h1>
        <h1>Thinker</h1>
        <h1>Mad Coffee Drinker</h1>
    </div>

    <div class="profile-container">
        <img src="/assets/images/profile.jpg" />
    </div>

</section>

<section id="statement-section">

<article class="statement-container">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>

</section>
